---
layout: single
---

{{ content }}

<p>
	<label for="youtube_url">YouTube URL</label>
	<input type="url" id="youtube_url">
</p>
<p>
	<details name="tab-pane">
		<summary>파일 첨부</summary>
		<label for="json_file">JSON 파일:</label>
		<input type="file" id="json_file" accept=".json">
	</details>
	<details name="tab-pane">
		<summary>직접 입력</summary>
		<label for="json_code">JSON 코드:</label>
		<textarea id="json_code" name="json_code" cols="100" rows="10"></textarea>
	</details>
</p>
<p>
	<button type="button" id="create-video" class="btn btn--primary">재생하기</button>
</p>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<!-- Youtube Form -->
<script src="{{ '/assets/js/ytplayer/common.js' | relative_url }}"></script>
<script src="{{ '/assets/js/ytplayer/generate.js' | relative_url }}"></script>
