<footer class="bd-footer">
	<div class="container">
		<a href="{{ '/' | relative_url }}" class="navbar-brand"><h1 class="h5">{{ site.title | escape }}</h1></a>
		<address>Copyright &copy; 2017 <strong>{{ site.title | default: site.github.repository_name }}</strong> All Rights Reserved.</address>
	</div>
</footer>

<!-- Search Modal -->
<div id="search-modal" class="modal fade" tabindex="-1" aria-labelledby="search-label" aria-hidden="true">
	<div class="modal-dialog modal-dialog-scrollable">
		<div class="modal-content">
			<div class="modal-header">
				<input type="search" id="search-input" class="form-control" placeholder="Search" aria-label="검색">
			</div>
			<div class="modal-body">
				<div id="results-container" class="srch-group list-group">
					<div class="list-group-item py-3">검색결과가 없습니다.</div>
				</div>
			</div>
			<div class="modal-footer">
				창을 닫으려면 <code>Esc</code>키를 누르세요.
			</div>
		</div>
	</div>
</div>