---
layout: page
---

<p>총 게시글 수: <span class="text-primary">{{ site.categories[page.category] | size }}개</span></p>
<div class="post-group" data-category="{{ page.category }}" data-postlist="{{ site.paginate }}"></div>
<div class="paginate btn-group"></div>

{%- comment -%}
{%- assign count = site.categories[page.category] | size -%}
<p>총 게시글 수: <span class="text-primary">{{ count }}개</span></p>
<div class="post-group">
	{%- for post in site.categories[page.category] -%}
		{%- include postlist.html post=post -%}
	{%- endfor -%}
	{%- if count == 0 -%}
		<p>카테고리에 게시글이 없습니다.</p>
	{%- endif -%}
</div>
{%- endcomment -%}