---
layout: default
---

<header class="post-header">
	<h2>{{ page.title }}</h2>
	<div class="post-meta">
		<i class="bi bi-person-fill" aria-hidden="true"></i>
		<span class="post-author" aria-description="작성자">
			{%- if page.author -%}
			{{ page.author }}*
			{%- else -%}
			{{ site.author }}
			{%- endif -%}
		</span>
		<i class="fa-solid fa-calendar-days" aria-hidden="true"></i>
		<span class="post-date" aria-description="등록일">{{ page.date | date_to_string | date: site.date_time_format }}</span>
	</div>
</header>
<article class="post-body">
	{{ content }}

	<div class="share mb-2">
		<strong class="me-2">공유하기</strong>
		<button type="button" class="share-facebook btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Facebook" aria-label="Facebook 공유">
			<i class="fa-brands fa-square-facebook fa-2x text-primary" aria-hidden="true"></i>
		</button>
		<button type="button" class="share-twitter btn btn-link p-0" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Twitter" aria-label="Twitter 공유">
			<i class="fa-brands fa-square-twitter fa-2x text-info" aria-hidden="true"></i>
		</button>
	</div>
	<ul class="post-info list-group">
		{%- if page.category -%}
			<li class="list-group-item">
				<strong class="me-2">카테고리:</strong>
				<a href="{{ site.baseurl }}/{{ page.category }}/" class="btn btn-outline-success btn-sm">{{ page.category }}</a>
				{%- comment -%}
				{%- for category in page.category -%}
					<a href="{{ site.baseurl }}/{{ category }}/" class="btn btn-outline-success btn-sm">{{ category }}</a>
				{%- endfor -%}
				{%- endcomment -%}
			</li>
		{%- endif -%}
		{%- if page.tags -%}
			<li class="list-group-item">
				<strong class="me-2">태그:</strong>
				{%- for tag in page.tags -%}
					<a href="{{ site.baseurl }}/tags/?tag={{ tag }}" class="btn btn-outline-primary btn-sm">#{{ tag }}</a>
				{%- endfor -%}
			</li>
		{%- endif -%}
	</ul>
</article>
<footer class="post-footer row">
	<div class="col">
		{%- if page.previous.url -%}
			<a href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ page.previous.title }}">&larr; 이전글</a>
		{%- else -%}
			<a href="#" class="btn btn-primary disabled">&larr; 이전글</a>
		{%- endif -%}
	</div>
	<div class="col text-end">
		{%- if page.next.url -%}
			<a href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="{{ page.next.title }}">다음글 &rarr;</a>
		{%- else -%}
			<a href="#" class="btn btn-primary disabled">다음글 &rarr;</a>
		{%- endif -%}
	</div>
</footer>